
/* Flex-box */
article {
  background-image: url("https://pbs.twimg.com/media/EWITy1SWAAAJCKF.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  box-sizing: border-box;
  
  
}

aside {
  background-image: url("https://www.teahub.io/photos/full/229-2290417_background-yu-gi-oh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%vh;
}

main {
  flex: 1;
  display: flex;
}

article {
  order: 2;
  flex: 3;
}

.left {
  order: 1;
}
.right {
  order: 3;
}

#rightCard{
margin-left: 40px;
}
 
#leftCard {
  margin-left: 80px;
}






/* Buttons */

.copyrights {
position: relative;
font-size: 30px;
top: 550px;
text-align: center;
font-weight: bold;
color: rgb(14, 12, 12);

}

#btnLeft{
box-shadow: 0px 0px 0px 2px #ebaeae;
background:linear-gradient(to bottom, #dbb51b 5%, #9c4646 100%);
background-color:#dbb51b;
border-radius:10px;
border:1px solid #4e6096;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:  30px;
padding:5px 37px;
text-decoration:none;
text-shadow:0px 1px 0px #283966;
margin-left: 120px;
margin-bottom: 20px;
margin-top: 20px;
}
#btnLeft:hover {
background:linear-gradient(to bottom, #9c4646 5%, #dbb51b 100%);
background-color:#9c4646;
}
#btnLeft:active {
position:relative;
top:1px;
}

.btnRight {
box-shadow: 0px 0px 0px 2px #ebaeae;
background:linear-gradient(to bottom, #dbb51b 5%, #9c4646 100%);
background-color:#dbb51b;
border-radius:10px;
border:1px solid #4e6096;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
padding:5px 37px;
text-decoration:none;
text-shadow:0px 1px 0px #283966;
margin-left: 120px;
margin-bottom: 20px;
margin-top: 20px;

}
.btnRight:hover {
background:linear-gradient(to bottom, #9c4646 5%, #dbb51b 100%);
background-color:#9c4646;
}
.btnRight:active {
position:relative;
top:1px;
}


.reset {
box-shadow: 0px 0px 0px 2px #ebaeae;
background:linear-gradient(to bottom, #dbb51b 5%, #9c4646 100%);
background-color:#dbb51b;
border-radius:10px;
border:1px solid #4e6096;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
padding:5px 53px;
text-decoration:none;
text-shadow:0px 1px 0px #283966;
margin: 0 auto;
}
.reset:hover {
background:linear-gradient(to bottom, #9c4646 5%, #dbb51b 100%);
background-color:#9c4646;
}
.reset:active {
position:relative;
top:1px;
}


.resume {
box-shadow: 0px 0px 0px 2px #ebaeae;
background:linear-gradient(to bottom, #dbb51b 5%, #9c4646 100%);
background-color:#dbb51b;
border-radius:10px;
border:1px solid #4e6096;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
padding:5px 37px;
text-decoration:none;
text-shadow:0px 1px 0px #283966;
margin: 20px auto;
}
.resume:hover {
background:linear-gradient(to bottom, #9c4646 5%, #dbb51b 100%);
background-color:#9c4646;
}
.resume:active {
position:relative;
top:1px;
}

@media screen and (max-width: 900px) {
main {
  flex-direction: column;
}
article {
  order: 0;
}
}